body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color: black;
}

button {
    background-color: black;
    color: orange;
    border: 2px solid orange;
    padding: 10px 15px;
    font-size: 1em;
    transition: 0.2s;
}

button:hover {
    color: yellow;
    border-color: yellow;
    box-shadow: 0em 0.5em 0.5em -0.4em yellow;
    transform: translateY(-2px);
    cursor: pointer;
}