<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new product</title>
</head>

<body>
    <h1>
        Create Product
    </h1>
    <form action="/products" method="post">
        <label for="name">Name of the fruit:</label>
        <input type="text" name="name" placeholder="fruit name" id="name">
        <label for="price">Price:</label>
        <input type="number" name="price" id="price">
        <label for="categories">Categories:</label>
        <select name="categories" id="categories">
            <%for(let category of categories ){ %>
                <option value="<%= category %>">
                    <%= category %>
                </option>
                <% } %>
        </select>
        <button type="submit">submit</button>
    </form>
    <a href="/products">Back</a>
</body>

</html>