<%- include("partials/head.ejs") %>


    <h1>The cats are</h1>
    <ul>
        <% for(cat of cats){ %>
            <li>
                <%= cat %>
            </li>
            <% } %>
    </ul>
    </body>

    </html>