<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATING</title>
</head>

<body>
    <h1>Home</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus sapiente tempora deleniti, quaerat optio
        placeat non. Doloremque ut accusamus laudantium magnam quisquam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam illum itaque eveniet dolor sed est dolores cum,
        voluptatibus recusandae delectus numquam eius. Blanditiis odit, inventore tempore dignissimos, quisquam, quod
        itaque vel esse qui eaque voluptatum! Corporis repellat vitae dolore recusandae ex in minus illo quaerat,
        doloribus harum praesentium dolor officiis eveniet magnam quae optio. Praesentium molestiae eaque debitis
        aspernatur ea similique numquam voluptatibus. Nemo ducimus eos beatae laborum sed qui magnam dicta quae
        veritatis molestiae quo laboriosam facilis similique tenetur non, dolorum impedit commodi nihil nulla optio?
        Dolorum vero sapiente odio rerum tenetur fugiat. Quae voluptas asperiores sed inventore nam.</p>
</body>

</html>