<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANDOM NUMBERS</title>
</head>

<body>
    <h1>YOUR RANDOM NUMBER IS : <%= num%>
    </h1>
    <b>your number is :<%= num%2==0?"even":"odd"; %></b>
    <% if(num%2==0){ %>
        <p><b>your number is : even</b></p>
        <% } else{ %>
            <p><b>your number is : odd</b></p>
            <% } %>
</body>

</html>